{% extends "app/base.html" %} 
{% load static %} 
{% block title %} Password Changed {% endblock title %}

{% block main-content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Successfully !!!</h3>
            <hr>
            <div>
                <img src="https://cdn.dribbble.com/users/1751799/screenshots/5512482/media/7d97855e253a86edc1383557c28412bc.gif" frameborder="0" width="300" height="300" class="giphy-embed" />
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}