{% extends "app/base.html" %} 
{% load static %} 
{% block title %} Password Changed {% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!!</h3>
            <div>
                <img src="https://cdn.dribbble.com/users/1751799/screenshots/5512482/media/7d97855e253a86edc1383557c28412bc.gif" frameborder="0" width="300" height="300" class="giphy-embed" />
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}